In [14]:
import pandas as pd

df = pd.read_csv("vodafone_reviews.csv")

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Rating    10000 non-null  int64
 1   Review    9423 non-null   object
 2   Name      9998 non-null   object
 3   Location  10000 non-null  object
 4   Date      10000 non-null  object
dtypes: int64(1), object(4)
memory usage: 390.8+ KB

In [15]:
df.head()

,Rating,Review,Name,Location,Date
0,1,"Trying to buy broadband through Uswitch, then ...",Alfie Calas,GB,2025-06-05T22:03:24.000Z
1,5,Sona did a great job either my trade in and co...,Julliette,GB,2025-06-05T21:51:17.000Z
2,1,"One of the worst , if not the worst when it co...",Vlad Ureche,GB,2025-06-05T21:28:36.000Z
3,1,How those people get 4.6 rate that’s a joke my...,Adam Farbotko,GB,2025-06-05T21:14:08.000Z
4,1,Held to ransom by a ‘reputable’ company. Purch...,Chloe,GB,2025-06-05T20:24:59.000Z

In [16]:
df.isnull().sum()

Rating        0
Review      577
Name          2
Location      0
Date          0
dtype: int64

In [17]:
df.Rating.value_counts()

Rating
5    9130
1     727
4      80
2      42
3      21
Name: count, dtype: int64

In [18]:
import re

def clean_text(text):
    text = str(text).lower()
    text = re.sub(r"http\S+|www\S+|https\S+", '', text)  # remove URLs
    text = re.sub(r"[^a-z\s]", '', text)  # keep letters only
    text = re.sub(r"\s+", ' ', text).strip()
    return text

df['Clean_Review'] = df['Review'].apply(clean_text)

In [19]:
df

,Rating,Review,Name,Location,Date,Clean_Review
0,1,"Trying to buy broadband through Uswitch, then ...",Alfie Calas,GB,2025-06-05T22:03:24.000Z,trying to buy broadband through uswitch then h...
1,5,Sona did a great job either my trade in and co...,Julliette,GB,2025-06-05T21:51:17.000Z,sona did a great job either my trade in and co...
2,1,"One of the worst , if not the worst when it co...",Vlad Ureche,GB,2025-06-05T21:28:36.000Z,one of the worst if not the worst when it come...
3,1,How those people get 4.6 rate that’s a joke my...,Adam Farbotko,GB,2025-06-05T21:14:08.000Z,how those people get rate thats a joke my full...
4,1,Held to ransom by a ‘reputable’ company. Purch...,Chloe,GB,2025-06-05T20:24:59.000Z,held to ransom by a reputable company purchase...
...,...,...,...,...,...,...
9995,1,"absolutely awful, been with vodaphone for 4 mo...",Ross Harker,GB,2025-03-05T11:25:39.000Z,absolutely awful been with vodaphone for month...
9996,1,Had a great experience- until we decided to mo...,Fern Jones,GB,2025-03-04T22:32:25.000Z,had a great experience until we decided to mov...
9997,5,Karan and Isaac were both amazing. Give them a...,Evan Calitz,GB,2025-03-04T22:25:37.000Z,karan and isaac were both amazing give them a ...
9998,5,Thank you mani your amazing,annalisa torciano,IT,2025-03-04T21:50:39.000Z,thank you mani your amazing
9999,1,"16 Years of Loyalty, But the Last 1.5 Years Ha...",Dee,GB,2025-03-04T20:59:24.000Z,years of loyalty but the last years have been ...

In [20]:
from textblob import TextBlob

df['Sentiment'] = df['Clean_Review'].apply(lambda x: TextBlob(x).sentiment.polarity)

In [21]:
df

,Rating,Review,Name,Location,Date,Clean_Review,Sentiment
0,1,"Trying to buy broadband through Uswitch, then ...",Alfie Calas,GB,2025-06-05T22:03:24.000Z,trying to buy broadband through uswitch then h...,-0.020000
1,5,Sona did a great job either my trade in and co...,Julliette,GB,2025-06-05T21:51:17.000Z,sona did a great job either my trade in and co...,0.700000
2,1,"One of the worst , if not the worst when it co...",Vlad Ureche,GB,2025-06-05T21:28:36.000Z,one of the worst if not the worst when it come...,-0.200000
3,1,How those people get 4.6 rate that’s a joke my...,Adam Farbotko,GB,2025-06-05T21:14:08.000Z,how those people get rate thats a joke my full...,0.275000
4,1,Held to ransom by a ‘reputable’ company. Purch...,Chloe,GB,2025-06-05T20:24:59.000Z,held to ransom by a reputable company purchase...,-0.003634
...,...,...,...,...,...,...,...
9995,1,"absolutely awful, been with vodaphone for 4 mo...",Ross Harker,GB,2025-03-05T11:25:39.000Z,absolutely awful been with vodaphone for month...,-0.280000
9996,1,Had a great experience- until we decided to mo...,Fern Jones,GB,2025-03-04T22:32:25.000Z,had a great experience until we decided to mov...,0.100000
9997,5,Karan and Isaac were both amazing. Give them a...,Evan Calitz,GB,2025-03-04T22:25:37.000Z,karan and isaac were both amazing give them a ...,0.400000
9998,5,Thank you mani your amazing,annalisa torciano,IT,2025-03-04T21:50:39.000Z,thank you mani your amazing,0.600000
9999,1,"16 Years of Loyalty, But the Last 1.5 Years Ha...",Dee,GB,2025-03-04T20:59:24.000Z,years of loyalty but the last years have been ...,-0.053623